parameters:
  level: 8
  paths:
    - src
    - tests
  excludes_analyse:
    - src/Manager/ImageManager.php
    - src/Manager/ContainerManager.php
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false